<html>
{% load static from staticfiles %}
<head>
<title>Leaflet Address Lookup and Coordinates</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>


<link href="{% static '/shop_db/css/bootstrap_4.css' %}" rel="stylesheet" id="bootstrap-css">
<link href="{% static '/shop_db/css/shop_user_profile_up.css' %}" rel="stylesheet" id="shop_user">
<script src="{% static '/shop_db/js/bootstrap_4.js' %}"></script>
<script src="{% static '/shop_db/js/jquery3_2_1.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->

<style type="text/css">
html, body { width:100%;padding:0;margin:0; }
.container { width:95%;max-width:980px;padding:1% 2%;margin:0 auto }
#lat, #lon { text-align:right }
#map { width:60%;height:30%;padding:0;margin:0; }
.address { cursor:pointer }
.address:hover { color:#AA0000 }
</style>
</head>
<body>



<!-- ************************************************************** -->

										
										
<h1> Reaching Here </h1>									
										
										
										
<!-- ********************************************************* -->




<br >


{% for Shop in shop_list %}

<form>
<input type="text" name="lat" id="lat" size=12 value="{{Shop.Latitude}}">
<input type="text" name="lon" id="lon" size=12 value="{{Shop.Longitude}}">
</form>

<p>here</p>
<br>
<div class="container">

<div id="map"></div>

</div>
{% endfor %}

<script type="text/javascript">

var startlat = {{Shop.Latitude}};
var startlon = {{Shop.Longitude}};

//<p> inside for</p>

var options = {
 center: [startlat, startlon],
 zoom: 12
}

var it = 0
for(it = 0; it < 4; it++){

document.getElementById('lat').value = startlat;
document.getElementById('lon').value = startlon;

var map = L.map('map', options);
var nzoom = 13;

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: 'OSM'}).addTo(map);

var myMarker = L.marker([startlat, startlon], {title: "Coordinates", alt: "Coordinates", draggable: true}).addTo(map).on('dragend', function() {
 var lat = myMarker.getLatLng().lat.toFixed(8);
 var lon = myMarker.getLatLng().lng.toFixed(8);
 var czoom = map.getZoom();
 if(czoom < 18) { nzoom = czoom + 2; }
 if(nzoom > 18) { nzoom = 18; }
 if(czoom != 18) { map.setView([lat,lon], nzoom); } else { map.setView([lat,lon]); }
 document.getElementById('lat').value = lat;
 document.getElementById('lon').value = lon;
 myMarker.bindPopup("Lat " + lat + "<br />Lon " + lon).openPopup();
});

//*************************************
function myFunction(arr)
{
 var out = "<br />";
 var i;

 if(arr.length > 0)
 {
  for(i = 0; i < arr.length; i++)
  {
   out += "<div class='address' title='Show Location and Coordinates' onclick='chooseAddr(" + arr[i].lat + ", " + arr[i].lon + ");return false;'>" + arr[i].display_name + "</div>";
  }
  out += "<br /><button type='button' onclick=''>Show Nearby Places</button>"
  document.getElementById('results').innerHTML = out;
 }
 else
 {
  document.getElementById('results').innerHTML = "Sorry, no results...";
 }

}

function addr_search()
{
 var inp = document.getElementById("addr");
 var xmlhttp = new XMLHttpRequest();
 var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + inp.value;
 xmlhttp.onreadystatechange = function()
 {
   if (this.readyState == 4 && this.status == 200)
   {
    var myArr = JSON.parse(this.responseText);
    myFunction(myArr);
   }
 };
 xmlhttp.open("GET", url, true);
 xmlhttp.send();
}
//************************************
}
</script>



<h3> Done </h3>

</body>
</html>